@import url('./general.css');

select{
    font-family: var(--font-body);
    font-size: var(--text-xs);
}



.filters{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-md);
}

.content{
    max-width: 1104px;
    width: calc(100dvw - 248px);
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 360px));
    gap: var(--spacing-xs);
}
.filter-tab, .content{
    padding: 32px 12px;
    height: 100%;
}

.filter-tab{
    width: 248px;
    border-right: 1px solid var(--color-gray-dark);
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-sm);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    height: calc(100dvh - 80px);
    overflow-y: scroll;
}

.bars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
    padding: var(--spacing-xs) 0
}
.slider{
    width: 100%;
}
.bar {
    width: var(--bar-width);
    background-color: var(--bar-inactive);
    transition: background-color 0.2s;
    border-radius: 4px;
}
.bar.filled{
    background-color: var(--bar-active);
}

.search-holder{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.title-label{
    font-family: var(--font-heading);
    font-weight: 600;
    letter-spacing: .4px;
    font-size: var(--text-sm);
}
.normal-label{
    font-size: var(--text-xs);
}
.price-inputs, .size-inputs{
    display: flex;
    justify-content: space-between;
}
.lease-inputs{
    display: flex;
    flex-direction: column;
    height: 40px;
    padding-top: var(--spacing-xs);
    row-gap: var(--spacing-xs);
}
.default-input{
    height: 32px;
    padding: 0 var(--spacing-xs);
    font-family: var(--font-body);
    font-size: var(--text-sm);
    transition: border-color 0.2s;
    border: 4px solid transparent;
    width: 100%;
}
.box-size-half{
    width: 48%;
}
.default-input:focus{
    outline: none;                    
    border-color: var(--color-accent-teal);
}
.default-input::placeholder{
    font-style: italic;
}
.checkbox-holder{
    padding: var(--spacing-xs);
}

.normal-btn{
    margin-left: auto;
    display: block;
    border: 1px solid var(--color-accent-teal);
    padding: var(--spacing-xs) var(--spacing-md);
    font-family: var(--font-body);
    font-size: var(--text-xs);
    font-weight: 600;
    background-color: transparent;
    color: var(--color-white);
}

.content-part-2 .rounded-button{
    padding: var(--spacing-xs) var(--spacing-md);
    font-size: var(--text-xs);
}

@media (max-width:1024px) {
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 902px){
    .main{
        min-height: calc(100dvh - 80px);
        height: auto;
        width: 100dvw;
        flex-direction: column;
    }

    .price-filter{
        display: none;
    }

    .filter-tab, .content{
        width: 100%;
    }

    .filter-tab{
        height: auto;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(48px);
    }

    .filter-tab, .content{
        overflow-y: unset;
    }

    .filters{
        flex-direction: row;
        gap: var(--spacing-sm);
        flex-wrap: wrap;
    }

    .filters > *{
        flex: 1 1 200px;
    }

    .content{
        flex: 1;
    }
}

@media (max-width:680px){
    .filter-tab{
        position: static;
    }
}

@media (max-width:520px){
    .content{
        grid-template-columns: repeat(1, minmax(280px, 368px));
        justify-content: center;
    }
}

